*.css linguist-detectable=false
*.java linguist-detectable=false
*.dart linguist-detectable=true 
*.js linguist-detectable=false
*.html linguist-detectable=false  
*.xml linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.mak linguist-detectable=false
*.d linguist-detectable=false
*.make linguist-detectable=false
*.makefile linguist-detectable=false
*.mk linguist-detectable=false
*.mkfile linguist-detectable=false
*.txt linguist-detactable=false
